In [1]:
import pandas as pd
import boto3
import os
from dotenv import load_dotenv

In [2]:
df_2023 = pd.read_csv('halfmarathon_wroclaw_2023__final.csv', sep=';')
df_2023.head()

,Miejsce,Numer startowy,Imię,Nazwisko,Miasto,Kraj,Drużyna,Płeć,Płeć Miejsce,Kategoria wiekowa,...,10 km Tempo,15 km Czas,15 km Miejsce Open,15 km Tempo,20 km Czas,20 km Miejsce Open,20 km Tempo,Tempo Stabilność,Czas,Tempo
0,1.0,1787,TOMASZ,GRYCKO,NaN,POL,UKS BLIZA WŁADYSŁAWOWO,M,1.0,M30,...,2.926667,00:44:47,1.0,3.106667,01:01:43,1.0,3.386667,0.031400,01:04:59,3.080509
1,2.0,3,ARKADIUSZ,GARDZIELEWSKI,WROCŁAW,POL,ARKADIUSZGARDZIELEWSKI.PL,M,2.0,M30,...,2.983333,00:45:26,2.0,3.143333,01:03:08,2.0,3.540000,0.038000,01:06:23,3.146875
2,3.0,3832,KRZYSZTOF,HADAS,POZNAŃ,POL,NaN,M,3.0,M20,...,3.123333,00:47:34,3.0,3.236667,01:05:09,3.0,3.516667,0.024067,01:08:24,3.242475
3,4.0,416,DAMIAN,DYDUCH,KĘPNO,POL,AZS POLITECHNIKA OPOLSKA,M,4.0,M30,...,3.196667,00:48:49,5.0,3.330000,01:06:54,4.0,3.616667,0.025467,01:10:16,3.330963
4,5.0,8476,KAMIL,MAŃKOWSKI,MIRKÓW,POL,PARKRUN WROCŁAW,M,5.0,M20,...,3.276667,00:49:31,7.0,3.386667,01:07:27,5.0,3.586667,0.023000,01:10:27,3.339654

In [ ]:
# funkcja, która zamienia całkowity czas biegu na sekundy
def convert_time_to_seconds(time):
    if pd.isnull(time) or time in ['DNS', 'DNF']:
        return None
    time = time.split(':')
    return int(time[0]) * 3600 + int(time[1]) * 60 + int(time[2])

In [ ]:
# Korzystamy z funkcji dla danych z 2023
df_2023['Czas'] = df_2023['Czas'].apply(convert_time_to_seconds)

In [ ]:
# Pokazujemy, że działa dla 5 pierwszych rekordów
df_2023['Czas'].head()

0    3899.0
1    3983.0
2    4104.0
3    4216.0
4    4227.0
Name: Czas, dtype: float64

In [ ]:
# Wczytujemy dane z 2024, używamy funkcji konwertowania czasu na sekundy i sprawdzamy czy działa
df_2024 = pd.read_csv('halfmarathon_wroclaw_2024__final.csv', sep=';')
df_2024['Czas'] = df_2024['Czas'].apply(convert_time_to_seconds)
df_2024['Czas'].head()

0    3843.0
1    3864.0
2    3880.0
3    4184.0
4    4205.0
Name: Czas, dtype: float64

In [7]:
# Zapisujemy przekształcone dane do plików csv
df_2023.to_csv("dane_2023.csv")
df_2024.to_csv("dane_2024.csv")

In [8]:
# W tak zwanym międzyczasie stworzyliśmy bucket na digitalocean, ładujemy sekrety
load_dotenv()

True

In [9]:
s3 = boto3.client(
    "s3",
)

In [10]:
BUCKET_NAME = "maratonymateusz"

In [ ]:
# Przesyłamy dane z 2023 do bucket'u 
s3.upload_file(
    Filename="dane_2023.csv",
    Bucket=BUCKET_NAME,
    Key="data/halfmarathon_2023.csv"
)

In [12]:
# Przesyłamy dane z 2024 do bucket'u 
s3.upload_file(
    Filename="dane_2024.csv",
    Bucket=BUCKET_NAME,
    Key="data/halfmarathon_2024.csv"
)